@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  /* Light Theme */
  --bright-blue: hsl(220, 98%, 61%);
  /* --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%); */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue--hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-hover: hsl(237, 14%, 26%);
}
.task {
  display: flex;
  align-items: center;
}

body {
  background: url(./images/bg-desktop-light.jpg) no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.7s;
}

.container {
  width: 50%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#theme-toggle {
  display: none;
}

h1 {
  margin-top: 2rem;
  letter-spacing: 1rem;
  color: var(--very-light-gray);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}

.task-container {
  display: flex;
  align-items: center;
  background: var(--very-light-gray);
  padding: 15px;
  user-select: none;
  transition: all 0.5s;
}

.list .task-container {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.task-container:first-child {
  border-radius: 5px 5px 0 0;
  /* box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2); */
}

.create-todo {
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.create-todo__input {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  width: 340px;
  border: none;
  background: var(--very-light-gray);
  transition: all 0.5s;
}

.create-todo__input:focus {
  outline: none;
}

.create-todo__input::placeholder {
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}

.task__check {
  border: 1px solid var(--light-grayish-blue);
  height: 30px;
  width: 30px;
  border-radius: 100px;
  margin-right: 1rem;
}

.task__delete {
  opacity: 0;
  background: url('./images/icon-cross.svg') no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
  margin-left: auto;
}

.task:hover .task__delete {
  opacity: 1;
  display: inline;
  cursor: pointer;
}

/* Completed Style */
.completed .task__check {
  background-image: url('./images/icon-check.svg'),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-size: 50%, cover;
  background-position: center;
  border: 1px solid white;
}

.completed .task__name {
  text-decoration: line-through;
}

.list-options {
  background: var(--very-light-gray);
  display: flex;
  font-size: 0.8rem;
  justify-content: space-around;
  align-items: center;
  color: var(--dark-grayish-blue);
  border-radius: 0 0 5px 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.6s;
}

.selected {
  color: hsl(280, 87%, 65%);
}

.filter {
  display: flex;
  list-style-type: none;
}

.mobile.filter {
  display: none;
}

.filter li {
  margin-left: 10px;
  cursor: pointer;
}

.clear-completed {
  cursor: pointer;
}

.dragdrop-note {
  text-align: center;
  font-size: 0.85rem;
  color: var(--dark-grayish-blue);
}

/* Dragging styles */
.dragging {
  transform: scale(0.98);
  opacity: 0.5;
}

/* Dark Theme */

.theme-image {
  cursor: pointer;
}

.dark {
  background-image: url('./images/bg-desktop-dark.jpg');
  background-color: var(--very-dark-blue);
}

.dark .task-container {
  color: var(--light-grayish-blue);
  background-color: var(--very-dark-desaturated-blue);
}

.dark .create-todo__input {
  color: var(--light-grayish-blue);
  background-color: var(--very-dark-desaturated-blue);
}

.dark .create-todo__input::placeholder {
  color: var(--light-grayish-blue);
}

.dark .completed .task__name {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}

.list .task-container {
  border-bottom: 1px solid var(--very-dark-grayish-blue);
}

.dark .list-options {
  background-color: var(--very-dark-desaturated-blue);
  color: var(--light-grayish-blue);
}

@media screen and (max-width: 375px) {
  .container {
    width: 95%;
  }

  h1 {
    font-size: 2rem;
  }

  .create-todo__input {
    width: 250px;
  }

  .list-options {
    padding: 15px;
  }

  .filter,
  .dragdrop-note {
    display: none;
  }

  .mobile.filter {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    background: var(--very-light-gray);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 50px;
    transition: all 0.8s;
  }

  .dark .mobile.filter {
    color: var(--light-grayish-blue);
    background: var(--very-dark-desaturated-blue);
  }
}
