@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  /* Light Theme */
  --bright-blue: hsl(220, 98%, 61%);
  /* --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%); */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
}

.task {
  display: flex;
  align-items: center;
}

body {
  background: url(./images/bg-desktop-light.jpg) no-repeat;
  /* background-color: var(--very-light-grayish-blue); */
  font-family: 'Josefin Sans', sans-serif;
  /* font-size: 18px; */
}

.container {
  width: 50%;
  margin: 0 auto;
}

h1 {
  margin-top: 2rem;
  letter-spacing: 1rem;
  color: var(--very-light-gray);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}

.task-container {
  display: flex;
  align-items: center;
  background: var(--very-light-gray);
  padding: 15px;
  user-select: none;
}

.list .task-container {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.task-container:first-child {
  border-radius: 5px 5px 0 0;
  /* box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2); */
}

.create-todo {
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.create-todo__input {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  width: 340px;
  border: none;
  background: var(--very-light-gray);
}

.create-todo__input::placeholder {
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}

.task__check {
  border: 1px solid var(--light-grayish-blue);
  height: 30px;
  width: 30px;
  border-radius: 100px;
  margin-right: 1rem;
}

/* Completed Style */
.completed .task__check {
  background-image: url('./images/icon-check.svg'),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-size: 50%, cover;
  background-position: center;
  border: 1px solid white;
}

.completed .task__name {
  text-decoration: line-through;
}

.list-options {
  background: var(--very-light-gray);
  display: flex;
  font-size: 0.8rem;
  justify-content: space-around;
  align-items: center;
  color: var(--dark-grayish-blue);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.filter {
  display: flex;
  list-style-type: none;
}

.filter li {
  margin-left: 10px;
  cursor: pointer;
}

.clear-completed {
  cursor: pointer;
}
